.usersPage{
    padding: 20px;
}
.userPhoto{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.currentPageStyleBlock{
    padding: 10px;
}
.currentPageStyle {

    font-weight: bold;

}
