.usersPage{
    padding:30px;
}
.userPhoto{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.currentPageStyleBlock{
    display: inline-block;
    padding: 5px;
    border: 2px blueviolet solid;
    border-radius: 30%;
    margin: 10px;
    box-shadow: yellow 1px 1px ;

}
.currentPageStyle {

    font-weight: bold;

}
